<h2>Http Client</h2>

<h4>Data from Mock Data Service <button (click)="addUser()">Add</button></h4>
<table border="true">
  @for(user of users; track user.name) {
    <tr>
      <td>Name - <b>{{user.name}}</b></td>
      <td>Nick name - <b>{{user.nickName}}</b></td>
      <td>Age - <b>{{user.age}}</b></td>
      <td><button (click)="updateUser(user.name)">Update</button></td>
      <td><button (click)="deleteUser(user.name)">Delete</button></td>
    </tr>
  }
</table>
<br /><br />

<h4>Data from actual APIs</h4>
<table border="true">
  @for(post of postsFromRealAPI; track post.id) {
    <tr>
      <td>id - <b>{{post.id}}</b></td>
      <td>User id - <b>{{post.userId}}</b></td>
      <td>title - <b>{{post.title}}</b></td>
      <td>body - <b>{{post.body}}</b></td>
    </tr>
  }
</table>